<div class="container">
  <div id="upload" class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8">
    <div class="well no-padding">
      <form id="upload-form" class="smart-form client-form" data-smart-validate-form>
        <header>上传随从数据</header>
        <fieldset>
          <section>
            <a class="btn btn-default" href="http://bbs.ngacn.cc/read.php?pid=144188510" target="_blank"><i class="fa fa-file"></i> FollowerExport插件发布帖</a>
          </section>
          <section>
            <label class="textarea">
              <textarea rows="16" placeholder="粘贴 FollowerExport 插件导出的 CSV" ng-model="content"></textarea>
            </label>
          </section>
        </fieldset>
        <footer>
          <button class="btn btn-primary" ng-click="upload()">上传</button>
        </footer>
      </form>
    </div>
  </div>
</div>
