<div class="container">
  <div id="upload" class="col-xs-12 col-sm-12 col-md-offset-3 col-md-6">
    <div class="well no-padding">
      <form id="upload-form" class="smart-form client-form" data-smart-validate-form>
        <header>上传随从数据</header>
        <fieldset>
          <section>
            <label class="textarea">
              <textarea rows="12" placeholder="Content" ng-model="content"></textarea>
            </label>
          </section>
        </fieldset>
        <footer>
          <button class="btn btn-primary" ng-click="upload()">上传</button>
        </footer>
      </form>
    </div>
  </div>
</div>
