<aside id="left-panel">
  <div class="login-info">
    <span><a href="/"><img src="logo.png" alt=""></a></span>
  </div>

  <nav>
    <ul>
      <li><a href="" ng-click="active='basic'"><i class="fa fa-lg fa-fw fa-map-marker"></i> 基本数据</a></li>
      <li><a href="" ng-click="active='skill'"><i class="fa fa-lg fa-fw fa-map-marker"></i> 技能覆盖</a></li>
      <li><a href="" ng-click="show_cov(630)"><i class="fa fa-lg fa-fw fa-map-marker"></i> 630任务覆盖</a></li>
      <li><a href="" ng-click="show_cov(645)"><i class="fa fa-lg fa-fw fa-map-marker"></i> 645任务覆盖</a></li>
      <li><a href="#/" ng-click="clear()"><i class="fa fa-lg fa-fw fa-refresh"></i> 重新上传</a></li>
    </ul>
  </nav>
</aside>
<div id="main">
  <div id="basic" class="limit1200" ng-show="active == 'basic'">
    <h1 class="txt-color-blueDark">
      <i class="fa-fw fa fa-map-marker"></i> 基本数据
    </h1>
    <div class="well">
      <table class="table table-striped table-forum">
        <thead><tr>
          <th class="col-xs-7">随从</th>
          <th class="col-xs-3">技能</th>
          <th class="col-xs-2">装等</th>
        </tr></thead>
        <tbody>
          <tr ng-repeat="f in basic">
            <td class="color-{{f.color}} enabled-{{f.enabled}}">{{f.name}} ({{f.level}}级 {{f.klass}})</td>
            <td class="skill-list"><img ng-repeat="s in f.skills" ng-src="/img/{{s}}.jpg" title="{{s}}" /></td>
            <td>{{f.equipment}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div id="skill" class="limit1200" ng-show="active == 'skill'">
    <h1 class="txt-color-blueDark">
      <i class="fa-fw fa fa-map-marker"></i> 技能覆盖
    </h1>
    <div class="well">
      <table class="table table-striped table-forum">
        <thead><tr>
          <th class="col-xs-4">技能</th>
          <th class="col-xs-8">随从</th>
        </tr></thead>
        <tbody>
          <tr ng-repeat="(s,followers) in skill">
            <td class="friends-list"><img ng-src="/img/{{s}}.jpg" title="{{s}}" /> {{s}}</td>
            <td><div ng-repeat="f in followers | orderBy:['-color','-level','-equipment']" class="color-{{f.color}} enabled-{{f.enabled}}">{{f.name}} ({{f.level}}级 {{f.equipment}})</div></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div id="cov" class="limit1200" ng-show="active == 'cov'">
    <h1 class="txt-color-blueDark">
      <i class="fa-fw fa fa-map-marker"></i> 高等任务覆盖 ({{ilvl}} 装等)
    </h1>
    <div class="well">
      <table class="table table-striped table-forum">
        <thead><tr>
          <th class="col-xs-7">随从</th>
          <th class="col-xs-3">完全匹配程度</th>
          <th class="col-xs-2">装等</th>
        </tr></thead>
        <tbody>
          <tr ng-repeat="f in cov[ilvl][0] | orderBy:['-coverage','-level']">
            <td class="color-{{f.color}} enabled-{{f.enabled}}">{{f.name}} ({{f.level}}级) [ <span ng-repeat="s in f.skills">{{s}} </span>]</td>
            <td>{{f.coverage}}</td>
            <td>{{f.equipment}}</td>
          </tr>
        </tbody>
        <thead><tr>
          <th class="col-xs-7">随从</th>
          <th class="col-xs-3">成长可能性</th>
          <th class="col-xs-2">装等</th>
        </tr></thead>
        <tbody>
          <tr ng-repeat="f in cov[ilvl][1] | orderBy:['-coverage','-level']">
            <td class="color-{{f.color}} enabled-{{f.enabled}}">{{f.name}} ({{f.level}}级 {{f.klass}}) [ <span>{{f.skills[0]}}</span> ]</td>
            <td>{{f.coverage}}</td>
            <td>{{f.equipment}}</td>
          </tr>
        </tbody>
      </table>

      <table class="table table-striped table-forum">
        <thead><tr>
          <th class="col-xs-3">技能</th>
          <th class="col-xs-9">需求配套技能</th>
        </tr></thead>
        <tbody>
          <tr ng-repeat="(k,v) in cov[ilvl][2]">
            <td>{{k}}</td>
            <td><span ng-repeat="x in v">{{x[0]}}x{{x[1]}} </span></td>
          </tr>
        </tbody>
      </table>

      <table class="table table-striped table-forum">
        <thead><tr>
          <th class="col-xs-2">任务</th>
          <th class="col-xs-2">紫随从匹配</th>
          <th class="col-xs-8">技能</th>
        </tr></thead>
        <tbody>
          <tr ng-repeat="mission in cov[ilvl][3]">
            <td>{{mission.id}}</td>
            <td>{{mission.hit}}</td>
            <td class="row">
              <div ng-repeat="combi in mission.combination" class="skill-list col-xs-4 match-{{combi.encounter.length>0}}">
              <div class="row">
                <span class="match-container" ng-repeat="sk in combi.skill track by $index">
                  <img ng-src="/img/{{sk}}.jpg" />
                  <img class="match" src="/img/ability-countered.png" ng-show="combi.encounter.length>0" />
                </span>
              </div>
              <div class="row"><div ng-repeat="enc in combi.encounter" class="color-{{(enc[1]-585)/15}} spacing pull-left">{{enc[0]}} (<span class="ilevel-{{enc[1]>=ilvl}}">{{enc[1]}}</span>)</div></div>
              
              
            </div></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
